.banner-section{
    background:linear-gradient( 240deg,rgba(151, 236, 101, 0.9) 50%, transparent 50%);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: top right;
   
    
}
